.form-container {
  border-top: 60px solid white;
  width: 100%;
  height: calc(100vh - 60px);
  background: #F2F2F2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 100px 1fr;
      grid-template-rows: 70px 100px 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.form-container h2 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 24px;
  font-weight: bold;
}

.form-container .text-div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 40px;
  width: 350px;
  font-size: 16px;
}

.form-container .text-div p {
  margin: 0;
}

.form-container .submit-button {
  height: 30px;
  width: 60px;
  background-color: #2671E1;
  border-radius: 5px;
  color: white;
}

.form-container form {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
  height: 300px;
}

.form-container form .inputField {
  margin-top: 10px;
  font-size: 18px;
  background: none;
  border: none;
  height: 30px;
  width: 100%;
  border-bottom: 2px solid #2671E1;
}

.form-container form .inputField::-webkit-input-placeholder {
  color: black;
  font-size: 24px;
}

.form-container form .inputField:-ms-input-placeholder {
  color: black;
  font-size: 24px;
}

.form-container form .inputField::-ms-input-placeholder {
  color: black;
  font-size: 24px;
}

.form-container form .inputField::placeholder {
  color: black;
  font-size: 24px;
}

.form-container form .messageField {
  margin-top: 10px;
  font-size: 24px;
  background: none;
  border: none;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #2671E1;
}

.form-container form .messageField::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  color: black;
  font-size: 24px;
}

.form-container form .messageField:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  color: black;
  font-size: 24px;
}

.form-container form .messageField::-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  color: black;
  font-size: 24px;
}

.form-container form .messageField::placeholder {
  position: relative;
  top: 0;
  left: 0;
  color: black;
  font-size: 24px;
}

.form-container form .submit-button {
  margin-top: 20px;
  height: 40px;
  width: 100px;
  font-size: 22px;
}

@media screen and (min-height: 670px) {
  .form-container {
    -ms-grid-rows: 110px 100px 1fr;
        grid-template-rows: 110px 100px 1fr;
  }
  .form-container h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 36px;
  }
  .form-container .text-div {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .form-container form {
    height: 100%;
  }
  .form-container form .inputField {
    margin-top: 20px;
    height: 35px;
    font-size: 18px;
    font-weight: medium;
  }
  .form-container form .inputField::-webkit-input-placeholder {
    font-size: 24px;
  }
  .form-container form .inputField:-ms-input-placeholder {
    font-size: 24px;
  }
  .form-container form .inputField::-ms-input-placeholder {
    font-size: 24px;
  }
  .form-container form .inputField::placeholder {
    font-size: 24px;
  }
  .form-container form .messageField {
    margin-top: 20px;
    font-size: 24px;
    height: 140px;
    width: 100%;
    border-bottom: 2px solid #2671E1;
  }
  .form-container form .messageField::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
  }
  .form-container form .messageField:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
  }
  .form-container form .messageField::-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
  }
  .form-container form .messageField::placeholder {
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
  }
  .form-container form .submit-button {
    margin-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .form-container {
    height: calc(100vh - 60px);
    -ms-grid-rows: 120px 50px 1fr;
        grid-template-rows: 120px 50px 1fr;
  }
  .form-container h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    font-size: 36px;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .form-container .text-div {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    height: 40px;
    text-align: left;
    width: 400px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .form-container .text-div p {
    margin: 0;
    font-size: 18px;
  }
  .form-container .submit-button {
    height: 30px;
    width: 60px;
    background-color: #2671E1;
    border-radius: 5px;
    color: white;
  }
  .form-container form {
    width: 60%;
    height: 100%;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .form-container form .inputField {
    margin-top: 10px;
    font-size: 24px;
    background: none;
    border: none;
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #2671E1;
  }
  .form-container form .inputField::-webkit-input-placeholder {
    color: black;
    font-size: 24px;
  }
  .form-container form .inputField:-ms-input-placeholder {
    color: black;
    font-size: 24px;
  }
  .form-container form .inputField::-ms-input-placeholder {
    color: black;
    font-size: 24px;
  }
  .form-container form .inputField::placeholder {
    color: black;
    font-size: 24px;
  }
  .form-container form .messageField {
    margin-top: 10px;
    font-size: 24px;
    background: none;
    border: none;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #2671E1;
  }
  .form-container form .messageField::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    color: black;
    font-size: 24px;
  }
  .form-container form .messageField:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    color: black;
    font-size: 24px;
  }
  .form-container form .messageField::-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    color: black;
    font-size: 24px;
  }
  .form-container form .messageField::placeholder {
    position: relative;
    top: 0;
    left: 0;
    color: black;
    font-size: 24px;
  }
  .form-container form .submit-button {
    margin-top: 10px;
    height: 30px;
    width: 80px;
    font-size: 18px;
  }
}

.spinner-div {
  position: absolute;
  left: 50%;
  top: 50%;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
/*# sourceMappingURL=Contact.css.map */