.footer-container {
    position: relative;
    top: auto;
    height: 70px;
    width: 100%;
    background: black;
    display: grid;
    grid-template-columns: 50% 50%;
    .resume-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .resume-link {
            border-radius: 5px;
            width: 120px;
            height: 40px;
            background-color: white;
            color: black;
            font-size: 28px;
            font-weight: bold;
        }
    }
    .icon-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .icon {
            height: 50px;
            width: 50px; 
        }
    }
}