.skills-container {
    height: 1250px;
    background: white;
    color: #2671E1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        font-size: 36px;
        font-weight: medium;
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
    .line {
        margin-top: 20px;
        width: 350px;
        height: 3px;
        background: #2671E1;
    }

        p {
            font-size: 14px;
            font-weight: bold;
        }
        .row1 {
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            height: 140px;
            padding-bottom: 30px;
        }
        .row2 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            height: 140px;
        }
        .row3 {
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            height: 160px;
            padding-bottom: 30px;
        }
        .row4 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            height: 140px;
        }
        .bulma-icon {
            align-self: center;
            width: 70px;
            height: 20px;
        }
        .node-icon {
            align-self: center;
            width: 70px;
            height: 45px;
        }
        .express-icon {
            align-self: center;
            width: 70px;
            height: 12px;
        }
        .row5 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            height: 160px;
            padding-bottom: 30px;
        }
        .row6 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            height: 140px;
            padding-bottom: 30px;
        }
        .row7 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
            padding-bottom: 30px;
        }
        .skill-icon {
            height: 70px;
            width: 70px;
        }
        .aws-icon {
            width: 80px;
            height: 40px;
            align-self: center;
        }
    
}

@media only screen and (min-width: 350px) {
    .skills-container {
        p {
            font-size: 16px;
        }
        .skill-icon {
            width: 80px;
            height: 80px;
        }
    }
}