.skills-container {
    background: white;
    color: #2671E1;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 320px 300px 180px 350px;
    .title {
        font-size: 36px;
        font-weight: medium;
        margin: 0;
        padding: 0;
        justify-self: center;
        align-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .line {
        width: 350px;
        height: 3px;
        background: #2671E1;
        justify-self: center;
        align-self: flex-end;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .languages {
        margin-top: 20px;
        grid-row: 2/3;
        grid-column: 1/2;
        width: 100%;
        p {
            font-size: 24px;
            font-weight: bold;
        }
        .row1 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
            padding-bottom: 30px;
        }
        .row2 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
        }
        .skill-icon {
            height: 80px;
            width: 80px;
        }
    }
    .frameworks {
        grid-row: 3/4;
        grid-column: 1/2;
        width: 100%;
        p {
            font-size: 24px;
            font-weight: bold;
        }
        .row3 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
            padding-bottom: 30px;
        }
        .row4 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
        }
        .skill-icon {
            height: 80px;
            width: 80px;
        }
        .bulma-icon {
            align-self: center;
            width: 70px;
            height: 20px;
        }
        .node-icon {
            align-self: center;
            width: 70px;
            height: 45px;
        }
        .express-icon {
            align-self: center;
            width: 70px;
            height: 12px;
        }
    }
    .databases {
        grid-row: 4/5;
        grid-column: 1/2;
        width: 100%;
        p {
            font-size: 24px;
            font-weight: bold;
        }
        .row5 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
            padding-bottom: 30px;
        }
        .skill-icon {
            height: 80px;
            width: 80px;
        }
    }
    .deployment {
        grid-row: 5/6;
        grid-column: 1/2;
        width: 100%;
        p {
            font-size: 24px;
            font-weight: bold;
        }
        .row6 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
            padding-bottom: 30px;
        }
        .row7 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            height: 80px;
            padding-bottom: 30px;
        }
        .skill-icon {
            height: 80px;
            width: 80px;
        }
        .aws-icon {
            width: 80px;
            height: 40px;
            align-self: center;
        }
    }
}