
.navbar {
    ul {
        display: none;
        li {
            display: none;
        }
    }
    span {
        display: none;
    }
    .social-media-link-container {
        display: none;
        img {
            display: none;
        }
    }
}
.navbar-top {
    position: fixed;
    height: 60px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.navbar-active {
    position: fixed;
    background: #2671E1;
    font-size: 48px;
    font-weight: medium;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 70px 1fr;
    z-index: 22;
    width: 100vw;
    height: 100vh;
    ul {
        height: 100%;
        width: 100%;
        grid-row: 2/3;
        grid-column: 1/2;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding: 15px;
        margin: 0;  
        text-decoration: none;
    }
    .selected {
        color: white;
    }
    .not-selected {
        color: #C9CDF4;
    }

    span {
        grid-row: 3/4;
        grid-column: 1/2;
        display: block;
        position: relative;
        margin: 0 auto;
    }
    .social-media-link-container {
        grid-row: 4/5;
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
            height: 80px;
            width: 80px;
        }
    }
}   



.navbar-green {
    background: green;
}

.navbar-title {
    font-size: 24px;
    font-weight: medium;  
    padding: 10px 0 0 10px;
    color: black;
} 

.navbar-title-white {
    font-size: 24px;
    font-weight: medium;  
    padding: 10px 0 0 10px;
    color: white;
}

.menu-icon {
    margin-right: 10px;
    margin-top: 5px;
    height: 35px;
    width: 40px;
}

.line {
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: center;
    width: 300px;
    height: 3px;
    background-color: #FFFFFF;
}

@media screen and (min-height: 600px) {
    .navbar-active {
        position: fixed;
        background: #2671E1;
        font-size: 54px;
        font-weight: medium;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 2fr 70px 1fr;
        z-index: 22;
        width: 100vw;
        height: 100vh;
        ul {
            height: 100%;
            width: 100%;
            justify-self: center;
            grid-row: 2/3;
            grid-column: 1/2;
            align-self: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        li {
            padding: 15px;
            margin: 0;  
            text-decoration: none;
        }
        .selected {
            color: white;
        }
        .not-selected {
            color: #C9CDF4;
        }
    
        span {
            grid-row: 3/4;
            grid-column: 1/2;
            display: block;
            position: relative;
            margin: 0 auto;
        }
        .social-media-link-container {
            grid-row: 4/5;
            grid-column: 1/2;
            height: 100%;
            width: 100%;
            align-self: flex-start;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img {
                height: 90px;
                width: 90px;
            }
        }
    }   
}

@media screen and (min-height: 650px) {
    .navbar-active {
        position: fixed;
        background: #2671E1;
        font-size: 64px;
        font-weight: medium;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 2fr 70px 1fr;
        z-index: 22;
        width: 100vw;
        height: 100vh;
    }
    .social-media-link-container {
        grid-row: 4/5;
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        align-self: flex-start;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}