
.navbar {
    ul {
        display: none;
        li {
            display: none;
        }
    }
    span {
        display: none;
    }
    .social-media-link-container {
        display: none;
        img {
            display: none;
        }
    }
}
.navbar-top {
    position: fixed;
    height: 60px;
    width: 100vw;
    color: black;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.navbar-active {
    position: fixed;
    background: #2671E1;
    font-size: 64px;
    font-weight: medium;
    display: block;
    z-index: 22;
    width: 100vw;
    height: 100vh;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-top: 120px;
        padding-bottom: 50px;
    }
    li {
        padding: 15px;
        margin: 0;  
        text-decoration: none;
    }
    .selected {
        color: white;
    }
    .not-selected {
        color: #C9CDF4;
    }
    // .first {
    //     padding-top: 120px;
    // }
    // .last {
    //     padding-bottom: 50px;
    // }
    span {
        display: block;
        position: relative;
        margin: 0 auto;
    }
    .social-media-link-container {
        padding-top: 40px;
        height: 140px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
            height: 80px;
            width: 80px;
        }
    }
}   



.navbar-green {
    background: green;
}

.navbar-title {
    font-size: 24px;
    font-weight: medium;  
    padding: 10px 0 0 10px;
} 

.menu-icon {
    margin-right: 10px;
    margin-top: 5px;
    height: 35px;
    width: 40px;
}

.line {
    width: 300px;
    height: 3px;
    background-color: #FFFFFF;
}

