.navbar {
    position: fixed;
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: transparent;
}

.navbar-green {
    background: green;
}

.navbar-title {
    font-size: 24px;
    font-weight: medium;  
    padding: 10px 0 0 10px;
} 

.menu-icon {
    padding: 10px;
}