.all {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.main {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    background-image: url("../images/jellyfish-back.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: 0.4fr 2fr 1.4fr;
    grid-template-columns: 1fr;
    .main-container {
        height: 100%;
        width: 100%;
        color: white;
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            width: 85%;
            font-size: 36px;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            padding: 10px 0;
        }
        h3 {
            margin: 0;
            width: 85%;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            padding: 10px 0;
        }
    }
    .down-arrow-div {
        grid-row: 3/4;
        grid-column: 1/2;
        align-self: center;
    }
}

@media only screen and (min-height: 600px) {
    .main {
        .main-container {
            h2 {
                font-size: 48px;
            }
            h3 {
                font-size: 24px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .main {
        .main-container {
            h2 {
                font-size: 60px;
            }
            h3 {
                font-size: 36px;
            }
        }
        .down-arrow-div {
            img {
                height: 100px;
                width: 100px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .main {
        .main-container {
            h2 {
                font-size: 48px;
            }
            h3 {
                font-size: 24px;
            }
        }
        .down-arrow-div {
            img {
                height: 60px;
                width: 60px;
            }
        }
    }
}

@media only screen and (min-width: 800px) and (min-height: 1200px) {
    .main {
        .main-container {
            h2 {
                font-size: 72px;
            }
            h3 {
                font-size: 40px;
            }
        }
        .down-arrow-div {
            img {
                height: 100px;
                width: 100px;
            }
        }
    }
}